<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.min.css" />
    <include path="~/Content/font-awesome.min.css" />
    <include path="~/Content/ionicons.min.css" />
    <include path="~/AdminLTE/plugins/select2/select2.min.css" />
    <include path="~/AdminLTE/plugins/pace/pace.min.css" />
    <include path="~/AdminLTE/plugins/iCheck/all.css" />
    <include path="~/AdminLTE/dist/css/AdminLTE.min.css" />
    <include path="~/AdminLTE/dist/css/skins/skin-blue.min.css" />
    <!--<include path="~/AdminLTE/dist/css/skins/skin-blue-light.min.css" />-->
    <!--<include path="~/AdminLTE/dist/css/skins/_all-skins.min.css" />-->
    <include path="~/Content/Site.css" />
  </styleBundle>
</bundles>