<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>

    <add key="experimentsourceFolder" value="C:\E-stone_server\E-Stone-Lab\data\Charge-Discharge\"/>
    <add key="experimentIdRequstURL" value="http://leafs.network:80/Service/WebMethodsPublic.asmx/CheckExperimentById?token=insertToken"/>
    <add key="postRequestURL" value="http://leafs.network:80/Service/WebMethodsPublic.asmx/ImportTestResultsData"/>
    
    <add key="token" value="?"/>
    <add key="checkingInterval" value="2000"/>
  </appSettings>
</configuration>
